{% extends 'base.html.twig' %}

{% block body %}
    <h1>Season edit</h1>

    {{ form_start(edit_form) }}
        {#{{ form_widget(edit_form) }}#}
        {{ form_row(edit_form.number, {'label': 'Numéro de la saison', 'attr': {'class': 'form-control'}}) }}
        {{ form_row(edit_form.serie, {'label': 'Série', 'attr': {'class': 'form-control'}}) }}
        {% include ':buttons:edit.html.twig' %}
    {{ form_end(edit_form) }}

    <a href="{{ path('season_show', { id: season.id }) }}"><button class="btn btn-default">Annuler</button></a>
    {% include ':form_parts:delete.html.twig' %}
{% endblock %}
