{% extends 'base.html.twig' %}

{% block body %}
    <h2><a href="{{ path('serie_show', { id: season.serie.id }) }}">{{ season.serie.name }}</a></h2>
    <h3>Saison {{ season.number }}</h3>

    <h4>Liste des épisodes</h4>
    <ul>
        {% for episode in episodes %}
            <li><a href="{{ path('episode_show', { id: episode.id }) }}">{{ episode.name }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('season_edit', { 'id': season.id }) }}"><button class="btn btn-default">Éditer</button></a>
    {% include ':form_parts:delete.html.twig' %}
{% endblock %}
