{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('serie_new') }}"><button class="btn btn-primary away">Créer une nouvelle série</button></a>
    {% endif %}

    <div class="mainContainer">
        {% for serie in series %}
            <div class="container singleSerie">
                <div class="container">
                    <div class="col-sm-5"><a href="{{ path('serie_show', { 'id': serie.id }) }}"><h3 class="serieName">{{ serie.name }}</h3></a></div>
                    <div class="col-sm-6">
                        <ul class="navigation">
                            <li>Tous les avis</li>
                            <li>Forum sur la série</li>
                            <li>Ajouter à mes séries</li>
                        </ul>
                    </div>
                    <div class="col-sm-1">
                        <a href="{{ path('serie_edit', { 'id': serie.id }) }}"><i class="fa fa-pencil"></i></a>
                        <a href="{{ path('serie_delete', { 'id': serie.id }) }}"><i class="fa fa-trash red"></i></a>
                    </div>
                </div>

                <div class="container">
                    <div class="col-sm-2">
                        {% if serie.poster %}
                            <a href="{{ path('serie_show', { 'id': serie.id }) }}"><img src="{{ asset('img/') ~ serie.getPoster() }}" alt="{{ serie.name }}" class="imgHome"></a>
                        {% endif %}
                    </div>
                    <div class="col-sm-10 overflow">
                        {{ serie.tinySum }} <a href="{{ path('serie_show', { 'id': serie.id }) }}">Lire la suite</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {#<table>#}
        {#<tbody>#}
        {#{% for serie in series %}#}
            {#<tr class="seriesList">#}
                {#<td><a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.name }}</a></td>#}
                {#<td>#}
                    {#{% if serie.poster %}#}
                        {#{{ serie.poster }}#}
                    {#{% endif %}#}
                {#</td>#}
                {#<td>#}
                    {#{% if app.user %}#}
                        {#<a href="{{ path('serie_edit', { 'id': serie.id }) }}"><i class="fa fa-pencil"></i></a>#}
                        {#<a href="{{ path('serie_delete', { 'id': serie.id }) }}"><i class="fa fa-trash"></i></a>#}
                    {#{% endif %}#}

                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

{% endblock %}
