{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des séries</h1>

    <a href="{{ path('serie_new') }}"><button class="btn">Créer une nouvelle série</button></a>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Poster</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td><a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.name }}</a></td>
                <td>{{ serie.poster }}</td>
                <td>
                    <a href="{{ path('serie_edit', { 'id': serie.id }) }}">éditer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
