{% extends 'base.html.twig' %}
{% block title %}DukooTV - {{ serie.name }}{% endblock %}

{% block body %}
    <h1>{{ serie.name }}</h1>

    {% if serie.poster %}
        <img src="{{ serie.poster }}" />
    {% endif %}

    <table>
        <tbody>
        <tr>
                <th>Résumé</th>
                <td>{{ serie.summary }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{% if serie.releaseDate %}{{ serie.releaseDate|date('Y-m-d') }}{% else %}Inconnue{% endif %}</td>
            </tr>
            <tr>
                <th>Langue originale</th>
                <td>{{ serie.language.name }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Voir les épisodes par saison</h3>
    <ul>
        {% for season in seasons %}
        <li><a href="{{ path('season_show', { id: season.id }) }}">Saison {{ season.number }}</a></li>
        {% endfor %}
    </ul>

            <a href="{{ path('serie_index') }}">Retour à la liste</a>
            <a href="{{ path('serie_edit', { 'id': serie.id }) }}">Éditer</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
{% endblock %}
