{% extends 'base.html.twig' %}

{% block body %}
    <h2><a href="{{ path('serie_show', { id: episode.season.serie.id }) }}">{{ episode.season.serie.name }}</a></h2>
    <h3><a href="{{ path('season_show', { id: episode.season.id }) }}">Saison {{ episode.season.number }}</a> - Épisode {{ episode.number }} : {{ episode.name }}</h3>

    <table>
        <tbody>
        <tr>
            <th>Résumé</th>
            <td>{{ episode.synopsis }}</td>
        </tr>
        <tr>
            <th>Date de diffusion</th>
            <td>{{ episode.airedDate|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Heure de diffusion</th>
            <td>{% if episode.runtime %}{{ episode.runtime|date('H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_edit', { 'id': episode.id }) }}"><button class="btn btn-default">Éditer</button></a>
    {{ form_start(delete_form) }}
    <input class="btn btn-default" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
{% endblock %}
