{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ episode.name }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
            <tr>
                <th>Runtime</th>
                <td>{% if episode.runtime %}{{ episode.runtime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ episode.season.serie.name }}</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>{{ episode.season.number }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Aireddate</th>
                <td>{{ episode.airedDate|date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
